$componentsColor: #76885B;


.search {
    #search__input {
        border: solid 1px #f1f0f0;        
        &:focus {
            outline: none;
            border-color: $componentsColor;
        }
    }
    .search__button {
        color: #ffffff;
        background-color: $componentsColor;
        border: solid 1px $componentsColor;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
            background-color: #ffffff;
            color: $componentsColor;
        }
    }
}
.country__flag {
    .country__img {
        width: 100%;
    }
}