%flexLayout {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 2em;
    header{
        h1 {
            margin: 0;
        }
    }
    .search {
        margin: 3rem;
        display: flex;
        justify-content: center;
    }
    .countries {
        margin: 0 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        @include smallScreen(){
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
        }
        .country {
            @extend %flexLayout;
            align-items: center;
            padding: 3px;        
            .country__info {
                flex-basis: 80%;
            }       
        }
    }
}

